<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="uk.co.ed.insectlab.ant"
    android:versionCode="2"
    android:versionName="1.1" >

    <uses-sdk
        android:minSdkVersion="14"
        android:targetSdkVersion="19" />

    <uses-feature android:name="android.hardware.usb.host" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />

    <uses-feature
        android:name="android.hardware.camera"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.autofocus"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front"
        android:required="false" />
    <uses-feature
        android:name="android.hardware.camera.front.autofocus"
        android:required="false" />

    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <application
        android:name="uk.ac.ed.insectlab.ant.GLOBAL"
        android:allowBackup="true"
        android:icon="@drawable/ic_ant"
        android:label="@string/app_name" >

        <service android:name="uk.ac.ed.insectlab.ant.service.RoboantService" />

        <activity
            android:name="uk.ac.ed.insectlab.ant.MainActivity"
            android:label="@string/app_name"
            android:launchMode="singleTask"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED" />
            </intent-filter>

            <meta-data
                android:name="android.hardware.usb.action.USB_DEVICE_ATTACHED"
                android:resource="@xml/device_filter" />
        </activity>
        <activity
            android:name="uk.ac.ed.insectlab.ant.SegmentCircleActivity"
            android:label="@string/segment_circle"
            android:parentActivityName="uk.ac.ed.insectlab.ant.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        
        <activity
            android:name="uk.ac.ed.insectlab.ant.NavigationActivity"
            android:label="@string/navigation"
            android:parentActivityName="uk.ac.ed.insectlab.ant.MainActivity"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Holo.Light" >
        </activity>
        <meta-data android:name="com.crashlytics.ApiKey" android:value="182be8768d69459d465997aa6fbe61684c12127f"/>
    </application>

</manifest>